#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../../assets/1677421137532.jpg');
    box-shadow: inset 0  0  0 260px rgba(61, 60, 55, 0.5);
    text-align: left;
   
}

body{
    background-color: rgb(219, 229, 231);
}

.title-container {
    display: flex;
}

#title,
#fsd {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    display: inline;
}

#title {
    background: linear-gradient(90deg, #f31322, #3f51b5);
    background-clip: text;
    color: transparent;
    transition: color 0.3s ease-in-out;
    letter-spacing: px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#fsd {
    background: repeating-linear-gradient(135deg, #227298, #0f51c3, rgb(235, 88, 181));
    background-clip: text;
    color: transparent;
    transition: color 0.3s ease-in-out;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#end {
    flex-shrink: 0;
    cursor: pointer;
    margin: 5%;
    width: 300px;
    height: 100%;
}

#center {
    display: flex;
}

#para {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-indent: 40px;
    padding: 1%;
    word-spacing: px;
    text-align: right;
}

#left-content{
    margin-left: 2%;
    text-align:right;
    padding-top: 30px;
    margin-right: 20px;
}

button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #928ac1;
    transition: 0.1s;
    margin: 2% 5%;
}

button::after {
    content: '';
    height: 100%;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

button:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 94, 247, 1) 17.8%, rgba(2, 245, 255, 1) 100.2%);
    transition: 0.5s;
}

.resume{
    margin: 2% 50%  3%;
}

@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@media (max-width:800px){
    #left-content{
        margin-left: 0;
            text-align: justify; 
            padding-top: 10px; 
            margin-right: px;
    }
    #title{
        text-align: right;
        padding-right: 0px;
    }
}
@media (max-width:800px){
#intro{
    display: block;
    text-align: center;
}

#para{
    text-align: justify;
    padding: 0%;
}
button{
    margin: 5% auto;
}
.resume{
    margin-left:  0px;
}
}