/* Projects.css */
.card {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
.text-center1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-size: 34px;
  color: #080808;
  background: linear-gradient(120deg, #13344b, #8f39ac, rgb(238, 122, 13));
  background-clip: text;
  color: transparent;
  text-align: center;
  }

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 1rem;
}

.btn-primary, .btn-secondary {
  margin-top: 0.5rem;
}
