.card1 {
    position: relative;
    width: 300px;
    height: 215px;
  
    display: flex;
    align-items: center;
  
   
    margin: 10% auto;
  
}

/* .card1 svg {
    width: 68px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
} */

/* .card1:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
} */

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

/* .card1:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
} */

.card__title {
    margin: 0;
    font-size: 25px;
    color: #0511f5;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 15px;
    color: #0b070f;
    line-height: 1.4;
    font-weight: bold;
}

/* .card1:hover svg {
    scale: 0;
    transform: rotate(-45deg);
} */


.section-title{
    margin: 7% 45% 10px 40%;
    font-size: 34px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
    color: #3d2d4d;
    background-clip: text;
}

@media (min-width:768px){
    .card1{
        display: inline-block;
        margin: 5% ;
    }
    .card1 .educ_title{
        margin: 30% 40%;
    }
}

.myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }
  
  .frontSide,
  .frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  }
  
  .backSide,
  .backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }