.section-title1 {
  font-size: 2.5rem;
  font-size: 34px;
  color: #080808;
  background: linear-gradient(120deg, #13344b, #8f39ac, rgb(238, 122, 13));
  background-clip: text;
  color: transparent;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: #6c757d;
}

.card-text {
  font-size: 0.875rem;
}
