.card9 {
    display: flex;
    height: 100px;
    width: 100%;
  }
  
  #contact{
    margin-top: -12% ;
  }

  .titles{
    text-align: center;
    font-size: 350%;
    padding: 10%;
    margin-left: 2%;
    background: linear-gradient(90deg, #b0f313, #b53f43);
    background-clip: text;
    color: transparent;
    transition: color 0.3s ease-in-out;
    letter-spacing: px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .card9 svg {
    position: absolute;
    display: flex;
    width: 80%;
    height: 100%;
    font-size: 24px;
    font-weight: 700px;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .card9 .social-link1,
  .card9 .social-link2,
  .card9 .social-link3,
  .card9 .social-link4,
  .card9 .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    color: rgb(239, 236, 236);
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
    margin-left: 5%;
   
  }
  
  .card9 svg {
    transform: scale(1);
  }
  
  .card9 .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
  }
  
  .card9 .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
  }
  
  .card9 .social-link3:hover {
    background-color:#2a2ae3;
    animation: bounce_613 0.4s linear;
  }
  
  .card9 .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
  }
  
  .card9 .social-link5:hover {
    background-color: #5de15d;
    animation: bounce_613 0.4s linear;
  }
  
  @keyframes bounce_613 {
    30%{
      transform: scale(1.6);
    }
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }

  @media (max-width: 800px) {
    .card9 {
        margin-top: 0; /* Adjust as needed */

    }

    .titles {
      text-align: center;
    }
}
